body{
    background-image: url(g6f4ef032524936b17267778e56a96b27072cfe3f64b1417a95b0ea0a91a3a0be9124c543dc6cb3a7113a5a28e4b88ec0211dc3e3fef084db1e70e63f6ae6a58a_1280.jpg);
}
.header{
    background-color: darkblue;
    padding: 20px;
    margin-top: 0px;
}
a,h1,p,h2,h3,label{
    color: white;
}
a{
    font-size: 24px;
    text-decoration: none;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.team{
    height: 350 px;
    width: 350 px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.recommendations {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px;
    justify-content: center; /* centers grid */
}
.card {
    width: 300px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card h3 {
    margin: 10px;
    font-size: 18px;
}

.card p {
    margin: 0 10px 15px;
    font-size: 14px;
    color: #555;
}